# Uninstalling

To remove Nix Toolbox from your system, delete the toolbox container:

{% for distro in distros %}
{% if distro.label %}
=== "{{ distro.name }} ({{ distro.label }})"
{% else %}
=== "{{ distro.name }}"
{% endif %}

    === "Toolbox"

        ```shell
        toolbox rm -f nix-toolbox-{{ distro.tag }}
        ```

    === "Distrobox"

        ```shell
        distrobox rm -f nix-toolbox-{{ distro.tag }}
        ```

{% endfor %}

To remove the Nix store and the links to Nix programs:

```shell
sudo rm -rf ~/.local/share/nix/ ~/.nix-profile ~/.config/nix-toolbox
```

To remove also the Home Manager configuration:

```shell
rm -rf ~/.config/home-manager
```
